---
import "@fontsource/sarabun"
import "@fontsource/open-sans"
//import '../styles/fonts.scss';
import type { Meta } from "../meta";
import { CookieDialog } from "../components/CookieDialog/CookieDialog";

export interface Props {
  meta?: Meta;
}

const { meta }: Props = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

    <link rel="icon" type="image/webp" sizes="12x12" href="/images/favicon-12.webp" />
    <link rel="icon" type="image/png" sizes="12x12" href="/images/favicon-12.png" />

    <link rel="icon" type="image/webp" sizes="16x16" href="/images/favicon-16.webp" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16.png" />

    <link rel="icon" type="image/webp" sizes="24x24" href="/images/favicon-24.webp" />
    <link rel="icon" type="image/png" sizes="24x24" href="/images/favicon-24.png" />

    <link rel="icon" type="image/webp" sizes="32x32" href="/images/favicon-32.webp" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32.png" />

    <link rel="icon" type="image/webp" sizes="48x48" href="/images/favicon-48.webp" />
    <link rel="icon" type="image/png" sizes="48x48" href="/images/favicon-48.png" />

    <link rel="icon" type="image/webp" sizes="64x64" href="/images/favicon-64.webp" />
    <link rel="icon" type="image/png" sizes="64x64" href="/images/favicon-64.png" />

    <link rel="icon" type="image/webp" sizes="72x72" href="/images/favicon-72.webp" />
    <link rel="icon" type="image/png" sizes="72x72" href="/images/favicon-72.png" />

    <link rel="icon" type="image/webp" sizes="96x96" href="/images/favicon-96.webp" />
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96.png" />

    <link
      rel="icon"
      type="image/webp"
      sizes="120x120"
      href="/images/favicon-120.webp"
    />
    <link rel="icon" type="image/png" sizes="120x120" href="/images/favicon-120.png" />

    <link
      rel="icon"
      type="image/webp"
      sizes="128x128"
      href="/images/favicon-128.webp"
    />
    <link rel="icon" type="image/png" sizes="128x128" href="/images/favicon-128.png" />

    <link
      rel="icon"
      type="image/webp"
      sizes="152x152"
      href="/images/favicon-152.webp"
    />
    <link rel="icon" type="image/png" sizes="152x152" href="/images/favicon-152.png" />

    <link
      rel="icon"
      type="image/webp"
      sizes="167x167"
      href="/images/favicon-167.webp"
    />
    <link rel="icon" type="image/png" sizes="167x167" href="/images/favicon-167.png" />

    <link
      rel="icon"
      type="image/webp"
      sizes="180x180"
      href="/images/favicon-180.webp"
    />
    <link rel="icon" type="image/png" sizes="180x180" href="/images/favicon-180.png" />

    <link
      rel="icon"
      type="image/webp"
      sizes="192x192"
      href="/images/favicon-192.webp"
    />
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon-192.png" />

    <link
      rel="icon"
      type="image/webp"
      sizes="228x228"
      href="/images/favicon-228.webp"
    />
    <link rel="icon" type="image/png" sizes="228x228" href="/images/favicon-228.png" />

    <link
      rel="icon"
      type="image/webp"
      sizes="256x256"
      href="/images/favicon-256.webp"
    />
    <link rel="icon" type="image/png" sizes="256x256" href="/images/favicon-256.png" />

    <link
      rel="icon"
      type="image/webp"
      sizes="512x512"
      href="/images/favicon-512.webp"
    />
    <link rel="icon" type="image/png" sizes="512x512" href="/images/favicon-512.png" />

    <link
      rel="apple-touch-icon"
      type="image/webp"
      sizes="180x180"
      href="/images/favicon-180.webp"
    />
    <link
      rel="apple-touch-icon"
      type="image/png"
      sizes="180x180"
      href="/images/favicon-180.png"
    />

    <link
      rel="apple-touch-icon"
      type="image/webp"
      sizes="152x152"
      href="/images/favicon-152.webp"
    />
    <link
      rel="apple-touch-icon"
      type="image/png"
      sizes="152x152"
      href="/images/favicon-152.png"
    />

    <link
      rel="apple-touch-icon"
      type="image/webp"
      sizes="144x144"
      href="/images/favicon-144.webp"
    />
    <link
      rel="apple-touch-icon"
      type="image/png"
      sizes="144x144"
      href="/images/favicon-144.png"
    />

    <link
      rel="apple-touch-icon"
      type="image/webp"
      sizes="120x120"
      href="/images/favicon-120.webp"
    />
    <link
      rel="apple-touch-icon"
      type="image/png"
      sizes="120x120"
      href="/images/favicon-120.png"
    />

    <link
      rel="apple-touch-icon"
      type="image/webp"
      sizes="114x114"
      href="/images/favicon-144.webp"
    />
    <link
      rel="apple-touch-icon"
      type="image/png"
      sizes="114x114"
      href="/images/favicon-144.png"
    />

    <link
      rel="apple-touch-icon"
      type="image/webp"
      sizes="76x76"
      href="/images/favicon-76.webp"
    />
    <link
      rel="apple-touch-icon"
      type="image/png"
      sizes="76x76"
      href="/images/favicon-76.png"
    />

    <link
      rel="apple-touch-icon"
      type="image/webp"
      sizes="72x72"
      href="/images/favicon-72.webp"
    />
    <link
      rel="apple-touch-icon"
      type="image/png"
      sizes="72x72"
      href="/images/favicon-72.png"
    />

    <meta name="msapplication-TileImage" content="./images/favicon-152.png" />
    <meta name="msapplication-TileColor" content="#0093e7" />
    <meta name="theme-color" content="#0093e7" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#0093e7" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=yes" />
    <meta name="HandheldFriendly" content="true" />

    <meta name="generator" content={Astro.generator} />
    <meta name="revisit-after" content="7 days" />
    <meta name="distribution" content="web" />
    <meta name="robots" content="index, follow" />

    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="cache-control" content="public" />
    <meta
      name="no-email-collection"
      content="https://www.unspam.com/noemailcollection/"
    />
    <meta name="copyright" content="Robin Lindner" />
    <meta name="author" content="Robin Lindner" />
    <meta name="designer" content="Lindner IT" />
    <meta name="publisher" content="Robin Lindner" />
    <meta name="coverage" content="worldwide" />
    <meta name="rating" content="general" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    {
      meta && (
        <>
          <title>{meta.title}</title>
          <meta name="title" content={meta.title} />
          <meta name="subject" content={meta.subject} />
          <meta name="description" content={meta.description} />
          <meta name="classification" content={meta.description} />
          <meta name="summary" content={meta.summary} />
          <meta name="abstract" content={meta.summary} />
          <meta name="keywords" content={(meta.keywords ?? []).join(", ")} />

          <meta name="url" content={Astro.url} />
          <meta name="identifier-url" content={Astro.url} />
          <link rel="canonical" href={Astro.url} />
          {meta.revisedAt && (
            <meta name="revised" content={meta?.revisedAt.toString()} />
          )}
          <meta property="og:type" content="website" />
          <meta property="og:url" content={Astro.url} />
          <meta property="og:title" content={meta.opengraphTitle} />
          <meta property="og:description" content={meta.opengraphDescription} />
          {meta.opengraphImage && (
            <meta
              property="og:image"
              content={new URL(meta?.opengraphImage, Astro.url)}
            />
          )}
          <meta property="twitter:card" content="summary_large_image" />
          <meta property="twitter:url" content={Astro.url} />
          <meta property="twitter:title" content={meta.twitterTitle} />
          <meta
            property="twitter:description"
            content={meta.twitterDescription}
          />
          {meta.twitterImage && (
            <meta
              property="twitter:image"
              content={new URL(meta?.twitterImage, Astro.url)}
            />
          )}
          {meta.jsonld &&
            meta.jsonld.map((item) => (
              <script
                type="application/ld+json"
                set:html={JSON.stringify(item)}
              />
            ))}
        </>
      )
    }
    <style>
      body {
        font-family: "Sarabun", sans-serif;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
      }
      #cookies {
        z-index: 1000;
      }
    </style>
  </head>
  <body>
    <aside id="cookies">
      <CookieDialog client:only="solid" />
    </aside>
    <main>
      <slot />
    </main>
    <script src="../firebase.ts"></script>
    <script src="../clarity.ts"></script>
  </body>
</html>
